html {
    margin: 0px;
    height: 100vh;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100vh;
    width: 100%;
 }

 #root {
   min-height: inherit;
}

.slick-slide {
   display: flex !important;
}
